{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "strict": "warn",
    "semi": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
  },
}